@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root {
    --cor-primaria: #A87676; 
    --cor-secundaria: #CA8787;
    --cor-terciaria: #F6F5F2;
    --cor-hover: #F3D0D7; 


    --font-primaria: 'Times New Roman', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --font-terciaria: cursive;
}

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.cabecalho {
   padding: 5% 0% 0% 15%;
}

.cabecalho_menu_link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.cabecalho_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

/*APRESENTACAO*/
.apresentacao__conteudo__titulo__destaque{
    color: var(--cor-secundaria);
    margin-left: 0.2em;
}

.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px;
}

.apresentacao__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px; 
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--font-primaria);
}
.apresentacao__conteudo__texto{
    text-align: left;
    font-size: 1.6rem;
    font-family: var(--font-secundaria);
}

.apresentacao__conteudo__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__links__subtitulo{
    font-weight: 500%;
    font-size: 1.6rem;
    font-family: var(--font-terciaria);
}
.apresentacao__conteudo__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--cor-primaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-secundaria);
    padding: 16px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.container-apresentacao {
    max-width: 100%;
    margin: 0 auto;
}

.container-habilidade {
    max-width: 100%;
    margin: 0 auto; 
}

.container-apresentacao img,
.container-habilidade img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.apresentacao__conteudo__subtitulo {
    display: flex;
    margin: 0;
    text-align: left;
    line-height: 2.5rem;
}

.container-projeto {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center; 
}

.apresentacao__conteudo__imagem img {
    max-width: 100%; 
    height: auto;
    object-fit: cover;
}

.apresentacao__textinhos {
    font-family: var(--font-primaria);
    font-size: 1.2rem;
    color: var(--cor-primaria);
}

.apresentacao__conteudo__imagem1 {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    padding: 20px; 
    font-family: var(--font-terciaria);
}

.apresentacao__conteudo__imagem2 {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    padding: 20px; 
    font-family: var(--font-terciaria);
}

.apresentacao__conteudo__imagem1__formulario {
    max-width: 100%;
    height: auto; 
    width: 300px; 
    object-fit: cover;
}

.apresentacao__conteudo__imagem2__pong {
    max-width: 100%;
    height: auto; 
    width: 300px; 
    object-fit: cover;
}


/*DETALHES*/
.rodape {
    padding: 25px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1rem;
    gap: 15px;
}

.dev {
    color: var(--cor-secundaria);
    font-size: 1.2em;
    font-family: var(--font-terciaria);
}

/*RESPONSIVIDADE*/
@media screen and (max-width: 1020px) {
        body {
            padding: 5%; 
            max-width: 100%; 
            overflow-x: hidden; 
        }
    
        .cabecalho {
            padding: 10% 5% 0 5%;
        }
    
        .menu {
            flex-direction: column;
            width: 100%;
            gap: 5px; 
        }
    
        .apresentacao {
            flex-direction: column-reverse;
            padding: 5%;
        }
    
        .apresentacao__conteudo__titulo {
            font-size: 1.2rem;
        }
    
        .apresentacao__conteudo__texto {
            font-size: 1rem;
        }
    
        .apresentacao__conteudo__links__subtitulo {
            font-size: 1rem;
        }
    
        .apresentacao__conteudo__links__navegacao {
            width: 100%;
        }
    }